extends ../templates/admin.jade

block body
  h2 This Post
  div.share-url
    label Share Url
    input(type='text' value='http://startessential.com/posts/#{date}?access=#{post.share_token}')
  form.new-post-form(action='/admin/posts/#{post._id}' method='POST' enctype="multipart/form-data")
    div.form-section
      label Day
      select(name='day')
        option(value='Sunday') Sunday
        option(value='Monday') Monday
        option(value='Tuesday') Tuesday
        option(value='Wednesday') Wednesday
        option(value='Thursday') Thursday
        option(value='Friday') Friday
        option(value='Saturday') Saturday
    div.form-section
      label Title
      input(type='text' value='#{post.title}' name='title')
    div.form-section
      label Content
      textarea(name='content' rows='6' value="#{post.content}") #{post.content}
    div.form-section
      label Main image
      img.post-img(width='150' src='#{post.image_url}')
      input.post-file(type='file' name='image')
    div.form-section
      label Generate new share link
      input(type='checkbox' name='new_share_token')
    div.form-section
      button(type='submit') Save it
  pre #{post}
