extends ../templates/admin.jade

block body
  h2 This Post
  div.share-url
    label Share Url
    input(type='text' value='http://startessential.com/posts/#{date}')
    a.share-link(href='http://startessential.com/posts/#{date}') View Post
  form.new-post-form(action='/admin/posts/#{post._id}' method='POST' enctype="multipart/form-data")
    div.form-section
      label Day
      select(name='day')
        option(value='Sunday' selected=post.day == 'Sunday') Sunday
        option(value='Monday' selected=post.day == 'Monday') Monday
        option(value='Tuesday' selected=post.day == 'Tuesday') Tuesday
        option(value='Wednesday' selected=post.day == 'Wednesday') Wednesday
        option(value='Thursday' selected=post.day == 'Thursday') Thursday
        option(value='Friday' selected=post.day == 'Friday') Friday
        option(value='Saturday' selected=post.day == 'Saturday') Saturday
    div.form-section
      label Category
      select(name='category')
        option(value='Applications' selected=post.category == 'Applications') Applications
        option(value='Aroma' selected=post.category == 'Aroma') Aroma
    div.form-section
      label Title
      input(type='text' value='#{post.title}' name='title')
    div.form-section
      label Content
      textarea(name='content' rows='6' value="#{post.content}") #{post.content}
    div.form-section
      label Main image
      img.post-img(width='150' src='#{post.image_url}')
      input.post-file(type='file' name='image')
    div.form-section
      label Featured
      input(type='checkbox' name='featured' checked=post.featured)
    div.form-section
      label Generate new share link
      input(type='checkbox' name='new_share_token')
    div.form-section
      button(type='submit') Save it
  pre #{post}
