extends ../layouts/default.jade

block body
  h2 The Newest Collection of Graphics
  //-p Hi #{fname}!
  p We're constantly working hard to create the best essential oil graphics. Here's a small collection of what we've been working on this week. Also, we wanted to gift you with a FREE bonus graphic to thank you for your loyal service &mdash; be sure to check it out!
  if posts
    each graphic in posts
      a(href='https://startessential.com/posts/#{graphic.url_path}' title=graphic.title style='text-decoration: none;')
        h4(style='color: #314046; text-decoration: none; font-size: 24px; font-weight: 400; margin-bottom: 10px;')= graphic.title
      img(src=graphic.image.normal.Location width='300' style='width: 100%; border: 1px solid #f2f2f2;')
      p(style='margin-top: 5px;')
        a(href='https://startessential.com/posts/#{graphic.url_path}' title=graphic.title style='color: #333; font-size: 20px; text-decoration: none; font-weight: 600;') View now
      hr(style='height: 0; margin: 25px 0; overflow: hidden; border-top: 1px solid #eee; width: 100%;')

    //-Bonus Graphics
    a(href='https://startessential.com/posts/#{bonus.url_path}' title=bonus.title style='text-decoration: none;')
      h4(style='color: #314046; text-decoration: none; font-size: 24px; font-weight: 400; margin-bottom: 10px;')= bonus.title
    img(src=bonus.image.normal.Location width='300' style='width: 100%; border: 1px solid #f2f2f2;')
    p(style='margin-top: 5px;')
      a(href='https://startessential.com/posts/#{bonus.url_path}' title=bonus.title style='color: #333; font-size: 20px; text-decoration: none; font-weight: 600;') Save for free
    hr(style='height: 0; margin: 25px 0; overflow: hidden; border-top: 1px solid #eee; width: 100%;')
  else
    a(href="http://startessential.com/posts" title='New Posts' style='display: block; font-size: 20px; background: #CF4F4C; color: #fff; padding: 15px 20px; width: 270px; margin: 20px auto 0; text-align: center;') Explore the new graphics

  p Cheers!
  p The Start Essential team
