extends lib/views/util/templates/layout.jade
block head
  script(type="text/javascript").
    var idx = window.location.toString().indexOf("#_=_");
    if (idx > 0) {
      window.location = window.location.toString().substring(0, idx);
      history.pushState('', document.title, window.location.pathname);
    }
    window.csrf = '#{crumb}';

block body
  div#posts
    include lib/views/util/templates/_header
    main.main
      if featured
        .post-featured
          .post-featured-inner.cf
            p.post-featured-label Featured Graphic
            .cf
            .post-featured-image-wrap
              img(src=featured.image.normal.Location)
            .post-featured-details
              h4.details-title=featured.title
              .cf
              p.details-category=featured.category
              .details-content !{featured.content_rendered}
              form(action='/posts/#{featured._id}/save' method='POST')
                input(type="hidden" name="crumb" value=crumb)
                a.details-link(href=featured.url) View Graphic
                if (isSaved(featured._id, sid))
                  button.details-save(type='submit' disabled) Saved
                else
                  button.details-save(type='submit') Save
      .main-content
        .graphics
          h4.graphics-title All Graphics
          p.graphics-tagline Exclusive Young Living images
          .graphics-recent.grid
            .gutter-sizer
            //-for post in posts
              +postBlock(post)
          .graphics-loader
            img(src='/images/ajax-loader.gif')
          .graphics-end No more graphics for now
      .graphics-suggestion
        h4.suggestion-title We Are Growing Our Collection. Have a Suggestion?
        p.suggestion-help We are always striving to create the best Young Living graphics. If you have any suggestions or requests for future graphics, send us a message below and we will do our best to add it as soon as possible.
        p.suggestion-messages
        input.suggestion-crumb(type='hidden' value=crumb)
        textarea.suggestion-description(name='description' placeholder='Explain your suggestion here...')
        button.suggestion-submit Send

mixin postBlock(post)
  .grid-item
    a(href='#{post.url}' title='#{post.title}')
      .graphic-image-wrap
        img.graphic-image(src='#{post.image.small.Location}' width='300')
      .graphic-info
        h4.graphic-title #{post.title}
        .graphic-tags
          span.graphic-category #{post.category}
          span &nbsp;|&nbsp;
          span.graphic-date #{fromDate(post.date_created)}
        .graphic-actions
          form(action='/posts/#{post._id}/save' method='POST')
            input(type="hidden" name="crumb" value=crumb)
            a.graphic-link(href=post.url title=post.title) View graphic 
            if (isSaved(post._id, sid))
              button.graphic-save(type='submit' disabled) Saved
            else
              button.graphic-save(type='submit') Save

block scripts
  script(type='text/javascript' src='/js/build/moment.js')
  script(type='text/javascript' src='/js/build/jquery.cookie.js')
  script(type='text/javascript' src='/js/build/imagesloaded.min.js')
  script(type='text/javascript' src='/js/build/masonry.min.js')
