extends templates/register
block body
  .details
    .copy
      h4 Final step
      p Time to choose a plan! Don't worry, you can give any of them a shot with a 1 month free trial. Select the <b>Starter Plan</b> and enter your credit card information. Thank you for choosing Start Essential. We are so excited to help you grow your essential oils business!
  .plans
    .plan
      h4.plan-name Starter Plan
      div.plan-banner 1 month free trial
      ul.plan-features
        li.plan-feature 2 new graphics / week
        li.plan-feature Download 8 graphics / month
        li.plan-feature $10 / month
        li.plan-feature Cancel Anytime
      p.plan-tagline That's $1.25 per Graphic
      form(action="/register/finish" method="POST")
        script(
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_QSKUtc94PM7XpNBHBmC3LyLA"
          data-amount="1000"
          data-name="Start Essential"
          data-description="Starter plan"
          data-image="/images/me.jpg"
          data-allowRememberMe='false'
          data-email='#{email}'
          data-label='Pay with card')
      .plan-secure
        img.secure-icon(src='/images/secure_icon.png' width='16')
        span.secure-text Secured with Stripe
