extends templates/layout
block body
  #register
    include templates/_header-naked
    main.main
      .details
        .copy
          h3 Finalize your account
          p Your free trial has expired. Please add payment information to continue using Start Essential.
      .register
        .register-form
          .plan
            form(action="/register/finish" method="POST")
              input(type="hidden" name="crumb" value=crumb)
              .form-block
                label Monthly Payment
                script(
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key=stripe_key_pk
                  data-amount="1000"
                  data-name="Start Essential"
                  data-description="Starter plan"
                  data-image="/images/app-icon-round.png"
                  data-allowRememberMe='false'
                  data-email='#{email}'
                  data-label='Add card'
                  data-panel-label='Pay')
                .plan-secure
                  img.secure-icon(src='/images/secure_icon.png' width='16')
                  span.secure-text Secured with Stripe
              .form-block
                label Starter Plan
                ul.value-list
                  li.value-item Save 2 new graphics a week
                  li.value-item Simply $10 a month
                    ul.value-list.sub
                      li.value-item $1.25 a graphic
                  li.value-item Young Living signup link to use with new members
                  li.value-item Landing page to inform people about Young Living Essential Oils
                  li.value-item No commitment, cancel anytime
        .register-extra
          h4.extra-title FAQ
          .question-block
            h5.question-title Why do I have to add payment?
            p Adding a payment method allows you to download and use graphics. Once your free trial ends, your monthly subscription will begin.
          .question-block
            h5.question-title Can I cancel anytime?
            p Yes. We would really miss you, but you can cancel your subscription at any time. No strings attached.

block scripts
  // Google Code for Purchase Conversion Page
  // In your html page, add the snippet and call
  // goog_report_conversion when someone clicks on the
  // chosen link or button.
  script(type="text/javascript").
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 946719821;
      w.google_conversion_label = "H6rZCJKE3l4QzZi3wwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      window.google_is_call = true;
      var opt = new Object();
      opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
  script(type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js")
  script(type='text/javascript').
    $(document).on('click touchend', '.stripe-button-el', function() {
      goog_report_conversion();
    })
