extends ../templates/layout.jade
block body
  div#account
    include ../templates/_header
    main.main
      h2.page-title Account Settings
      .settings
        .input-group.fade
          label Your weekly download limit will reset after
          input(type='text' readonly value=readableDate(user.records.week_renew_date))
        .input-group.fade
          label Your distributor signup link
          input(type='text' readonly value=user.distributor_link)
        form.settings-form(action='/account/settings' method='POST')
          input(type='hidden' name='_id' value=user._id)
          .input-group
            label Member number
            input(type='text' maxlength='7' name='memberNumber' value=user.member_number)
          .input-group
            label Email
            input(type='text' name='email' value=user.email)
          .input-group
            button(type='submit') Save
      .other
        form.remove-form(action='/account/remove' method='POST')
          input(type='hidden' name='_id' value=user._id)
          button(type='submit') Cancel Account
