extends ../templates/layout.jade
block head
  script(type="text/javascript").
    var idx = window.location.toString().indexOf("#_=_");
    if (idx > 0) {
      window.location = window.location.toString().substring(0, idx);
      history.pushState('', document.title, window.location.pathname);
    }
    window.csrf = '#{crumb}';

block body
  div#posts
    include ../templates/_header
    main.main
      if featured
        .post-featured
          .post-featured-inner.cf
            p.post-featured-label Featured Graphic
            .cf
            .post-featured-image-wrap
              img(src=featured.image.normal.Location)
            .post-featured-details
              h4.details-title=featured.title
              .cf
              p.details-category=featured.category
              .details-content !{featured.content_rendered}
              form(action='/posts/#{featured._id}/save' method='POST')
                input(type="hidden" name="crumb" value=crumb)
                a.details-link(href=featured.url) View Graphic
                if (isSaved(featured._id, sid))
                  button.details-save(type='submit' disabled) Saved
                else
                  button.details-save(type='submit') Save
      .main-content
        .graphics
          h4.graphics-title All Graphics
          .graphics-recent.grid
            .gutter-sizer
            //-for post in posts
              +postBlock(post)
          .graphics-loader
            img(src='/images/ajax-loader.gif')
          .graphics-end No more graphics

mixin postBlock(post)
  .grid-item
    a(href='#{post.url}' title='#{post.title}')
      .graphic-image-wrap
        img.graphic-image(src='#{post.image.small.Location}' width='300')
      .graphic-info
        h4.graphic-title #{post.title}
        .graphic-tags
          span.graphic-category #{post.category}
          span &nbsp;|&nbsp;
          span.graphic-date #{fromDate(post.date_created)}
        .graphic-actions
          form(action='/posts/#{post._id}/save' method='POST')
            input(type="hidden" name="crumb" value=crumb)
            a.graphic-link(href=post.url title=post.title) View graphic 
            if (isSaved(post._id, sid))
              button.graphic-save(type='submit' disabled) Saved
            else
              button.graphic-save(type='submit') Save

block scripts
  script(src='/js/build/moment.js')
  script(type='text/javascript' src='/js/build/jquery.cookie.js')
  script(type='text/javascript' src='/js/build/imagesloaded.min.js')
  script(type='text/javascript' src='/js/build/masonry.min.js')
  script.
    var tour = new Tour({
      steps: [
      {
        element: '.logo-wrap',
        title: 'A Short Tour',
        content: 'Hi #{sid.first_name}! Take this short tour to learn how to use Start Essential.',
        placement: 'right'
      },
      {
        element: '.record-counter',
        title: 'Saved Posts',
        content: 'Here\'s a quick view of how many saves you have left. It will reset every week.',
        placement: 'left'
      },
      {
        element: '.nav-list',
        title: 'Navigation',
        content: 'This is your navigation menu. Use it to move around the site.',
        placement: 'left'
      },
      {
        element: '.post-featured-label',
        title: 'Weekly Graphics',
        content: 'Look for new graphics every Tuesday and Friday!',
        placement: 'bottom'
      },
      {
        element: '.details-title',
        title: 'Graphic Title',
        content: 'The title will always give an overview of the topics covered in its graphic.',
        placement: 'bottom'
      },
      {
        element: '.details-category',
        title: 'Graphic Category',
        content: 'You can view similar graphics in this category below.',
        placement: 'bottom'
      },
      {
        element: '.details-link',
        title: 'View Graphic',
        content: 'Use this link to get a full view of the graphic and post it to facebook.',
        placement: 'bottom'
      },
      {
        element: '.details-save',
        title: 'Save Graphic',
        content: 'Saving a graphic will allow you to download and customize this graphic with your distributor links. It will also contribute to your weekly download limit, but that will reset every week for more downloads!',
        placement: 'bottom'
      },
      {
        element: '.main-content',
        title: 'You\'re Ready!',
        content: 'We post new graphics every week, so keep your eye open for them. Start browsing around the different categories and find an infographic that you would like to share :D Let us know if you have any questions!',
        placement: 'top'
      }
    ]});

    // Initialize the tour
    tour.init();
    // Start the tour
    tour.start();

