extends ../templates/layout.jade
block body
  div#post
    include ../templates/_header
    main.main
      section.tools
        .tools-inner
          a(href='/posts') < Back to all graphics
      .main-content
        div(class=( post.free ? 'graphic free' : 'graphic' ))
          .graphic-inner.cf
            .graphic-image-wrap
              img.graphic-image(src=post.image.normal.Location)
            .graphic-details
              h1.details-title= post.title
              p.details-category=post.category
              .details-content
                if post.content
                  | !{post.content_rendered}
                else
                  p
                    i No description for now
              form(action='/posts/#{post._id}/save' method='POST')
                input(type="hidden" name="crumb" value=crumb)
                if (saved_code)
                  button.details-save(type='submit' disabled) Saved
                else
                  button.details-save(type='submit')
                    if post.free
                      | Save for free
                    else
                      | Save
      section.final
        .final-content
          if (saved_code)
            h3.title Inform your downlines and friends
            .cta
              a.share-fb(href='/preview/#{saved_code}?message=Share%20this%20page%20now' title='Share post on Facebook') Share on Facebook
          else
            h3.title Customize and Post
            .tagline Your member number is listed below. Feel free to update this in the settings if this has changed.
            form(method='POST' action='/posts/#{post._id}/save')
              input(type="hidden" name="crumb" value=crumb)
              input.member-number(type='text' placeholder='(Optional) Young Living member number' disabled=(sid.member_number ? 'disabled' : undefined) value='#{sid.member_number ? sid.member_number : ""}')
              .cta
                button.post-now(type='submit') Save and post to Facebook
block scripts
  script(src='/js/build/jquery.sticky-kit.min.js')
