extends ../templates/layout.jade
block head
  meta(property='og:title' content='#{post.title}')
  meta(property='og:type' content='article')
  meta(property='og:site_name' content='Start Essential')
  meta(property='og:url' content='http://startessential.com/posts/#{post.date_formatted}')
  meta(property='og:description' content='#{post.content}')
  meta(property='og:image' content='#{post.image_url}')

block body
  div#post
    header.header
      .header-content
        a.logo-wrap(href='/' title='Start Essential Logo')
          img.logo(src='/images/logo-white.png' width='200')
        h3.title Today's Post <span class='right'><span class='mob-hide'>| </span>#{post.day} <span class="small">the</span> 10<sup>th</sup></span>
    main.main
      section.intro
        .intro-content
          h3.title Daily Essential Oils Post
          p.details We help you grow your essential oil business with daily Facebook posts. By providing your downlines with helpful, new information, they will discover more amazing ways to use oils and want to purchase more through you. It's a fantastic way to become a better and more successful distributor. <span>Check out Monday's post below!</span>
      section.post-wrap
        .post
          .post-header
            h4.daily-title #{post.title}
            div.post-now 
              a(href='#') Post Now
          article.post-content
            .post-copy
              .description #{post.content}
              img.image(src='#{post.image_url}')
      section.final
        .final-content
          h3.title Customize and Post
          .tagline Enter your member number so we can create your distributor link
          form(method='POST' action='/publish/#{post._id}')
            input.member-number(name='memberNumber' type='text' placeholder='(Optional) Young Living member number' value='#{memberNumber ? memberNumber : ""}')
            .cta
              button.post-now(type='submit') Post to Facebook
