extends ../templates/layout.jade
block body
  div#post
    include ../templates/_header
    main.main
      section.tools
        .tools-inner
          a(href='/posts') < Back to all graphics
      .main-content
        .graphic
          .graphic-inner.cf
            .graphic-image-wrap
              img.graphic-image(src=post.image.small.Location)
            .graphic-details
              h1.details-title= post.title
              p.details-content= post.content
              form(action='/posts/#{post._id}/save' method='POST')
                if (isSaved(post._id, sid))
                  button.details-save(type='submit' disabled) Saved
                else
                  button.details-save(type='submit') Save
      section.final
        .final-content
          h3.title Customize and Post
          .tagline Your member number is listed below. Feel free to update this in the settings if this has changed.
          form(method='POST' action='/publish/#{post._id}')
            input.member-number(name='memberNumber' type='text' placeholder='(Optional) Young Living member number' disabled=(user.member_number ? 'disabled' : undefined) value='#{user.member_number ? user.member_number : ""}')
            .cta
              button.post-now(type='submit')
                if user_exists
                  | Post to Facebook
                else 
                  | Sign up to post
block scripts
  script(src='/js/build/jquery.sticky-kit.min.js')
