extends ../templates/layout.jade
block head
  meta(property='og:title' content='#{graphic._post.title}')
  meta(property='og:site_name' content='Start Essential')
  meta(property='og:url' content='http://startessential.com/preview/#{graphic.short_code}')
  meta(property='og:description' content='#{graphic._post.content}')
  meta(property='og:image' content='#{graphic.custom_image.url}')
block body
  div#saved
    include ../templates/_header
    main.main
      .main-content
        h2.page-title= graphic._post.title
        img(src=graphic.custom_image.url)
