extends ../templates/layout.jade
block head
  meta(property='og:title' content='#{graphic._post.title}')
  meta(property='og:site_name' content='Start Essential')
  meta(property='og:url' content='http://startessential.com/preview/#{graphic.short_code}')
  meta(property='og:description' content='#{graphic._post.content}')
  meta(property='og:image' content='#{graphic.custom_image.normal.Location}')
block body
  div#preview
    if sid
      include ../templates/_header.jade
    else
      include ../templates/_header-naked.jade
    main.main
      if sid
        section.tools
          .tools-inner
            a(href='/posts') < Back to all graphics
      .main-content
        .graphic
          .graphic-inner.cf
            .graphic-image-wrap.no-overlay
              .pinit
                a(href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28")
                  img(src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png")
              img.graphic-image(src=graphic.custom_image.original.Location)
            .graphic-details
              h1.details-title= graphic._post.title
              .details-content !{graphic._post.content_rendered}
              if sid
                if sid._id == graphic._user._id
                  .share-facebook.details-link(data-code='http://startessential.com/preview/#{graphic.short_code}') Share on Facebook
                  a.details-download(href=graphic.custom_image.original.Location target='_blank') Download
        .tour
          .tour-inner
            h2.tour-label Find this information useful?
            p.tour-sub-header 
            a.signup-link(href=graphic._user.distributor_link) Start your journey with a personal mentor
block scripts
  script(src='/js/build/jquery.sticky-kit.min.js')
  script(type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js")
