extends ../templates/layout.jade
block body
  div#saved
    include ../templates/_header
    main.main
      .main-content
        h2.page-title Saved posts
        p.page-tagline Share these posts
        if saved && saved.length
          .saved
            each save in saved
              .save
                a(href='/preview/#{save.short_code}')
                  .save-image-wrap
                    img.save-image(src=save.custom_image.normal.Location)
                  .save-text
                    h4.save-title= save._post.title
                    //-form.save-remove(action='/save/#{save._id}/remove' method='POST')
                      button(type='submit') Remove
                    a.save-download(href=save.custom_image.original.Url target='_blank' title='Download your customized graphic') Download
                    .save-right
                      span.save-customized 
                        span.fa.fa-check
                        | &nbsp;Customized
        else
          p.none You haven't saved any posts yet. <a href='/posts'>Browse</a> around to find some of your favorites!
