extends ../templates/layout.jade
block body
  div#saved
    include ../templates/_header
    main.main
      .main-content
        h2.page-title Saved posts
        if saved && saved.length
          .saved
            each save in saved
              .save
                a(href=save._post.url)
                  .save-image-wrap
                    img.save-image(src=save.custom_image.url)
                  .save-text
                    pre= save.short_code
                    h4.save-title= save._post.title
                    //-form.save-remove(action='/save/#{save._id}/remove' method='POST')
                      button(type='submit') Remove
                    .save-right
                      if save.isOld
                        span.save-old Outdated Link
                      if save.posted
                        span.save-posted Posted to Facebook
        else
          p.none You haven't saved any posts yet. <a href='/posts'>Browse</a> around to find some of your favorites!
