extends /templates/layout
block body
  div#saved
    include /includes/_header
    main.main
      .main-content
        h2.page-title Saved posts
        p.page-tagline Share these posts
        if saved && saved.length
          .saved
            each save in saved
              .save
                a(href='/preview/#{save.short_code}')
                  .save-image-wrap
                    img.save-image(src=save.custom_image.normal.Location)
                  .save-text
                    h4.save-title= save._post.title
                    form(action='/posts/#{save._post._id}/save?resave=1' method='POST')
                      input(type="hidden" name="crumb" value=crumb)
                      if sid.scope === "admin"
                        button.save-resave(type='submit') Resave
                      a.save-download(href=save.custom_image.original.Location target='_blank' title='Download your customized graphic') Download
                    .save-right
                      span.save-customized 
                        span.fa.fa-check
                        | &nbsp;Customized
        else
          p.none You haven't saved any posts yet. <a href='/posts'>Browse</a> around to find some of your favorites!
